.job-search-box-component {
  max-width: 800px;
}

.job-search-box-component input#job-search-term {
  background-color: rgba(0, 0,0,0);
  border: none;
  outline: 0;
  color: white;
  box-shadow: none;
  font-size: 2em;
  padding: .1em;
}

.job-search-box-component button#search-button {
  height: 3em;
  border-radius: 0;
}

.opaque-gray-bg { background-color: rgba(0, 0, 0, 0.7); }

.job-search-box-component input#job-tag-input {
  background-color: rgba(0, 0,0,0);
  border: none;
  outline: 0;
  color: white;
  box-shadow: none;
  padding: .1em;
}
