<div class="job-search-box-component">
  <form class="pure-form pure-form-horizontal centered-text" v-on:submit.prevent="triggerSearch">
    <fieldset>

      <!-- Raw text search -->
      <div class="job-search-term-container opaque-gray-bg xs-pad display-iblock" v-if="showTextSearch">
        <input id="job-search-term"
               class="pure-input-1"
               type="text"
               v-model="searchTerm"
               placeholder="Enter a Job Title"/>

        <button id="search-button"
                class="pure-button button-success pure-input-1 no-margin"
                type="submit"
                v-if="showTextSearch">
          <i class="fa fa-search"></i> Search postings
        </button>
      </div>

      <!-- Industry selecting -->
      <div class="job-industry-tag-selector-container sm-margin-top" v-if="showIndustriesSelector">

        <tag-toggle-selector :tags="industryTags"
                             :initialSelectedTagValues="selectedIndustries"
                             v-on:selected-tag-values-changed="industryTagsChanged">
        </tag-toggle-selector>

        <span class="larger-text white-fg alpha-60-black-bg display-iblock xs-pad sm-margin-top">
          <span v-if="selectedIndustries.length == 0">(Showing all industries)</span>
          <span v-else>(Showing only above industries)</span>
        </span>

      </div>

      <!-- Tag selecting -->
      <div class="job-tag-selector-container sm-margin-top opaque-gray-bg full-width flex columns" v-if="showTagSelector">

        <div class="flex">
          <div class="larget-text gray-bg white-fg sm-pad">
            Tag Search
          </div>

          <div>
            <input id="job-tag-input"
                   list="tags"
                   placeholder="HTML,Ruby..."
                   class="full-width full-height"
                   v-model="selectedTagName"
                   type="text"
                   @keydown.enter.prevent="addSelectedTagName"
                   v-focus/>
          </div>

          <datalist id="tags">
            <option :value="t" v-for="t in unusedTagNames">{{t}}</option>
          </datalist>
        </div>

        <div>
          <div id="job-tags" class="full-width xs-pad centered sm-margin-vertical half-line-height">
            <span class="tag bold-text xs-margin-right display-iblock xs-margin-vertical" :style="{backgroundColor: t.cssColor}" v-for="t in selectedTags">
              {{t.name}}
              &nbsp
              <span class="cursor-pointer" @click.prevent="removeSelectedTagByName(t.name)">&times;</span>
            </span>
            <div class="gray-fg" v-if="selectedTagNames.length === 0">No tags selected</div>
          </div>
        </div>

      </div>

      <div class="pure-g">
        <button id="search-button"
                class="pure-button button-success pure-u-1-2 no-margin"
                type="submit"
                v-if="!showTextSearch">
          <i class="fa fa-search"></i> Search postings
        </button>

        <button id="search-button" class="pure-button pure-u-1-2 no-margin" @click.prevent="clearTags" type="butotn">
          <i class="fa fa-times"></i> Clear tags
        </button>
      </div>

    </fieldset>
  </form>
</div>
