<section class="job-search-page-component flex columns full-width">
  <div class="jumbotron">

    <!-- Login button -->
    <div class="hidden top-rhs-menu abs-pos top-rhs xs-pad pure-menu white-fg">
      <ul class="pure-menu-horizontal no-pad no-margin">

        <li class="pure-menu-item">
          <a :href="appSvc.state.adminURL"
             style="padding: 0.25em;"
             title="Visit the blog"
             class="pure-menu-link larger-text">
            <i class="fa fa-user"></i> Log In
          </a>
        </li>

      </ul>
    </div>

    <div class="top-lhs-menu pull-left sm-pad pure-menu white-fg">
      <img id="site-logo" src="/static/images/logo/logo.png"></img>
    </div>

    <div class="jumbotron-search-container">
      <!-- Alerts -->
      <alert-listing :alerts="jobAlerts" :maxAlertCount=1></alert-listing>

      <job-search-box :tags-svc="tagsSvc"
                      :available-industry-set="industrySvc.state.industries"
                      :initial-search-term="currentSearchQuery.searchTerm"
                      :initial-selected-industries="currentSearchQuery.industries"
                      :initial-selected-tag-names="currentSearchQuery.tags"
                      :show-industries-selector="false"
                      :show-text-search="false"
                      :show-tag-selector="true"
                      v-on:search="doSearch"
                      v-on:search-query-update="handleUpdatedSearchQuery"></job-search-box>
    </div>

  </div>

  <div v-if="!userSvc.state.userIsLoggedIn" class ="alert alert-info"
    <p class="larger-text slim-text centered-text">
      <span id="call-to-action-job-post">Looking for top talent in Tokyo?</span>&nbsp;
      <router-link to="/post-job" class="pure-button button-theme-primary">
        <i class="fa fa-rocket"></i>&nbsp;
        Request a job posting
      </router-link>
    </p>
  </div>

  <div class="job-listing-container">
    <div class="pure-g">
      <div class="pure-u-1-24"></div>

      <div class="pure-u-22-24">
        <!-- Jobs listing -->
        <generic-listing id="jobs-search-results"
                         class="xs-margin-top"
                         type="dynamic"
                         :model-class="jobClass"
                         :paginated="true"
                         :cmd-bus="jobListingCmdBus"
                         :throttle-interval="0"
                         :url="jobsUrl"
                         :get-param-transform-fn="jobsListingGetQueryAugmentFn"
                         row-key-field="job.id"
                         :enable-list-style-change="false"
                         pref-key="job-search-page-search-result-listing">

          <template slot="row-item" scope="props">
            <job-listing-item class="full-height"
                              :listStyle="props.listStyle"
                              :user-svc="userSvc"
                              :jobs-svc="jobsSvc"
                              :shown-actions="['apply', 'favorite']"
                              :open-in-new-window="true"
                              :show-tags="true"
                              :initial-job="props.data.job"
                              :initial-company="props.data.company"
                              :enum-translations="enumTranslations"
                              :job-idx="props.idx"></job-listing-item>
          </template>

          <template slot="empty-msg" scope="props">
            <h2 class="centered-text">Sorry we couldn't find any jobs with all the tags you mentioned ({{ (currentSearchQuery.tags || []).join(",") }}) :(</h2>
            <h3 class="centered-text slim-text">Is your favorite company missing? <a href="mailto:hello@techjobs.tokyo" class="plain dashed">Tell us about it</a></h3>
            <h3 class="centered-text slim-text">Know of a great opportunity we don't have listed yet? <a href="mailto:hello@techjobs.tokyo" class="plain dashed">Email us</a> or <router-link :to="{name: 'post-job'}" class="plain dashed">request a new job posting</router-link> and we'll get right on it.</h3>
          </template>

        </generic-listing>
      </div>

      <div class="pure-u-1-24"></div>
    </div>
  </div>

  <mailing-list-signup class="sm-margin-top"
                       :tags="currentSearchQuery.tagObjects"
                       :alert-svc="alertSvc"
                       :mailing-list-svc="mailingListSvc"></mailing-list-signup>
</section>
