<section id="signup" class="signup-page-component flex contents-centered wrapped columns">

  <!-- signup -->
  <div id="signup-box" class="pure-u-1 pure-u-sm-3-4 pure-u-md-4-5 pure-u-lg-3-5">
    <div class="sm-pad">

      <h1 class="title centered-text slim-text valign-mid">
        <img id="logo"
             class="valign-mid sm-max-height"
             src="/static/images/logo/logo.png"></img>
        Sign up for {{ appSvc.state.appName }}
      </h1>

      <alert-listing :alerts="signupAlerts" :maxAlertCount=1></alert-listing>

      <user-role-select selectedRole="selectedRole" @change-role="updateRole"></user-role-select>

      <div class="pure-g sm-margin-top">
        <div class="form-container pure-u-1">
          <form class="pure-form pure-form-stacked minimal black-theme"
                v-on:submit.prevent="signup">
            <fieldset>

              <div class="pure-u-1">
                <div class="pure-g">

                  <div class="pure-u-1 pure-u-sm-11-24">
                    <div class="pure-control-group sm-margin-top">
                      <!-- First name -->
                      <div class="flex centered">
                        <i class="fa fa-user md"></i>
                        <input id="first-name"
                               type="text"
                               class="pure-input-1"
                               placeholder="First Name"
                               v-model="firstName">
                      </div>
                      <alert-notification :closable="false"
                                          :alert="{status: 'error', message: 'Please enter your first name'}"
                                          v-if="submittedOnce && signupFormHasErrors && !firstNameIsValid"></alert-notification>
                    </div>
                  </div>

                  <div class="pure-u-1 pure-u-sm-1-12"></div>

                  <div class="pure-u-1 pure-u-sm-11-24">
                    <div class="pure-control-group sm-margin-top">
                      <!-- Last name -->
                      <input id="last-name"
                             type="text"
                             class="pure-input-1"
                             placeholder="Last Name"
                             v-model="lastName">
                      <alert-notification :closable="false"
                                          :alert="{status: 'error', message: 'Please enter your last name'}"
                                          v-if="submittedOnce && signupFormHasErrors && !lastNameIsValid"></alert-notification>
                    </div>
                  </div>

                </div>
              </div>

              <div class="pure-control-group sm-margin-top">
                <div class="flex centered">
                  <i class="fa fa-envelope md"></i>
                  <input id="email"
                         type="text"
                         class="pure-input-1"
                         placeholder="Email"
                         v-model="email">
                </div>
                <alert-notification :closable="false"
                                    :alert="{status: 'error', message: 'Please enter your email address'}"
                                    v-if="submittedOnce && signupFormHasErrors && !emailIsValid"></alert-notification>
              </div>

              <div class="pure-control-group sm-margin-top">
                <div class="flex centered">
                  <i class="fa fa-key md"></i>
                  <input id="password"
                         class="pure-input-1"
                         placeholder="Password"
                         type="password"
                         v-model="password">
                </div>
                <alert-notification :closable="false"
                                    :alert="{status: 'error', message: 'Please enter a passsword'}"
                                    v-if="submittedOnce && signupFormHasErrors && !passwordIsValid"></alert-notification>
              </div>

              <div class="pure-control-group sm-margin-top">
                <div class="flex centered">
                  <i class="fa fa-key md"></i>
                  <input id="password-again"
                         class="pure-input-1"
                         placeholder="Re-enter/confirm password"
                         type="password"
                         v-model="passwordAgain">
                </div>
                <alert-notification :closable="false"
                                    :alert="{status: 'error', message: 'Please enter your password again'}"
                                    v-if="submittedOnce && signupFormHasErrors && !passwordAgainIsValid"></alert-notification>
              </div>

              <button type="submit"
                      class="pure-button button-theme-primary md-margin-top button-xlarge"
                      :disabled="submittedOnce && signupFormHasErrors">
                <i class="fa fa-briefcase"></i>&nbsp;
                Sign Up
              </button>

            </fieldset>
          </form>
        </div> <!-- /.form-container -->
      </div> <!-- /.pure-g -->
    </div><!-- /div.sm-pad -->
  </div><!-- /#signup-box -->

</section>
