<section id="app" :class="{ 'logged-in': userSvc.state.userIsLoggedIn }">
  <loading-indicator :is-loading="loadingSvc.state.isLoading"
                          :title="loadingSvc.state.loadingInfo.title"
                          :description="loadingSvc.state.loadingInfo.description"></loading-indicator>
  <router-view></router-view>
</section>
